.big-parent {
    width: 500px;
    height: 500px;
}

.small-parent {
    width: 200px;
    height: 200px;
}


.html-code {
    width: 50%;
    border: 1px solid #CCC;
    min-height: 20px;
    background: #eee;
}
